<div class="regis-rightinner">

<!-- TODO: ADD FORM VALIDATION, LOGIN WITH FB ACCOUNT -->
	<p>Welcome to Dotweek! </p>
	<h2>Login</h2>
	<p>Here you can plan your events weekly. </p> 
	<p>Just don't forget to conclude them and level up your skills!</p>

	<form method="post" class="stacked-form" ng-submit="ctrl.authenticate(ctrl.loginEmail, ctrl.loginPwd)">
		<span class="input input--manami">
			<input class="input__field input__field--manami" id="loginEmail" type="text" name="loginEmail" ng-model="ctrl.loginEmail">
			<label class="input__label input__label--manami" for="loginEmail">
				<span class="input__label-content input__label-content--manami">Email</span>
			</label>
		</span>
		<span class="input input--manami">
			<input class="input__field input__field--manami" id="loginPwd" type="password" name="loginPwd" ng-model="ctrl.loginPwd">
			<label class="input__label input__label--manami" for="loginPwd">
				<span class="input__label-content input__label-content--manami">Password</span>
			</label>
		</span>

		<span class="input input--manami">
			<input type="submit" value="{{ctrl.auth_btn}}" name="Login">
		</span>
	</form>

</div>