<div class="regis-rightinner">

<!-- TODO: ADD FORM VALIDATION, LOGIN WITH FB ACCOUNT -->
	<span>lorem ipsum doler</span>
	<h2>Login</h2>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</span>

	<form method="post" class="stacked-form" ng-submit="ctrl.authenticate(ctrl.loginEmail, ctrl.loginPwd)">
		<span class="input input--manami">
			<input class="input__field input__field--manami" id="loginEmail" type="text" name="loginEmail" ng-model="ctrl.loginEmail">
			<label class="input__label input__label--manami" for="loginEmail">
				<span class="input__label-content input__label-content--manami">Email</span>
			</label>
		</span>
		<span class="input input--manami">
			<input class="input__field input__field--manami" id="loginPwd" type="text" name="loginPwd" ng-model="ctrl.loginPwd">
			<label class="input__label input__label--manami" for="loginPwd">
				<span class="input__label-content input__label-content--manami">Password</span>
			</label>
		</span>

		<span class="input input--manami">
			<input type="submit" value="{{ctrl.auth_btn}}" name="Login">
		</span>
	</form>

</div>