<div class="regis-rightinner">
<!-- TODO: ADD FORM VALIDATION -->
	<span>Dotweek</span>
	<h2>Become a member</h2>
<!-- 	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</span> -->
	<form method="POST" class="stacked-form" ng-submit="ctrl.register()">
		<span class="input input--manami">
			<input class="input__field input__field--manami" id="regisEmail" type="text" name="regisEmail" ng-model="ctrl.regisEmail" required>
			<label class="input__label input__label--manami" for="regisEmail">
				<span class="input__label-content input__label-content--manami">Email</span>
			</label>
		</span>

		<span class="input input--manami">
			<input class="input__field input__field--manami" id="regisName" type="text" name="regisName" ng-model="ctrl.regisName" required>
			<label class="input__label input__label--manami" for="regisName">
				<span class="input__label-content input__label-content--manami">Name</span>
			</label>
		</span>
		
		<span class="input input--manami">
			<input class="input__field input__field--manami" id="regisPwd" type="password" name="regisPwd" ng-model="ctrl.regisPwd" required>
			<label class="input__label input__label--manami" for="regisPwd">
				<span class="input__label-content input__label-content--manami">Password</span>
			</label>
		</span>

		<span class="input input--manami">
			<input class="input__field input__field--manami" id="regisRePwd" type="password" name="regisRePwd" ng-model="ctrl.regisRePwd" required>
			<label class="input__label input__label--manami" for="regisRePwd">
				<span class="input__label-content input__label-content--manami">Repeat Password</span>
			</label>
		</span>

		<span class="input input--manami">
			<input class="input__field input__field--manami" id="regisBday" type="date" name="regisBday" ng-model="ctrl.regisBday" min="1935-01-01" max="2016-01-01" required>
			<label class="input__label input__label--manami" for="regisBday">
				<span class="input__label-content input__label-content--manami">Birthday</span>
			</label>
		</span>

		<span class="input input--manami">
			<input type="submit" value="{{ctrl.register_btn}}" class="form-input bs-form__buttons tacked-input-box">
		</span>
	</form>

</div>