<div class="main-rightinner">
<div class="regis-rightinner">
<!-- TODO: ADD FORM VALIDATION -->
	<span>Dotsweek</span>
	<h2>Become a member</h2>
<!-- 	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</span> -->
	<form class="login-form" method="POST" ng-submit="ctrl.register()">
		<table class="table login-table">
			<tr>
				<td>
					<label for="regisEmail">Email</label>					
				</td>
				<td>
					<input id="regisEmail" type="text" name="regisEmail" ng-model="ctrl.regisEmail" required>
				</td>
			</tr>
			<tr>
				<td>
					<label for="regisName">Name</label>
				</td>
				<td>
					<input id="regisName" type="text" name="regisName" ng-model="ctrl.regisName" required>
				</td>
			</tr>
			<tr>
				<td>
					<label for="regisBday">Birthday</label>
				</td>
				<td>
					<input id="regisBday" type="date" name="regisBday" ng-model="ctrl.regisBday" min="1935-01-01" max="2016-01-01" required>
				</td>
			</tr>
			<tr>
				<td>
					<label for="regisPwd">Password</label>
				</td>
				<td>
					<input id="regisPwd" type="password" name="regisPwd" ng-model="ctrl.regisPwd" required>
				</td>
			</tr>
			<tr>
				<td>
					<label for="regisRePwd">Repeat Password</label>
				</td>
				<td>
					<input id="regisRePwd" type="password" name="regisRePwd" ng-model="ctrl.regisRePwd" required>
				</td>
			</tr>
		</table>

		<input class="loginBtn" type="submit" value="{{ctrl.register_btn}}" class="form-input bs-form__buttons tacked-input-box">
	</form>
</div>
</div>