<div class="main-rightinner">
<div class="regis-rightinner">
<!-- TODO: ADD FORM VALIDATION -->
	<span>Dotsweek</span>
	<h2>Become a member</h2>

	<form class="login-form" name="regis" method="POST" ng-submit="ctrl.register()">
		<table class="table login-table">
			<tr>
				<td>
					<label for="regisEmail">Email</label>					
				</td>
				<td>
					<input id="regisEmail" type="email" name="regisEmail" ng-model="ctrl.regisEmail" required>
					<span ng-show="regis.regisEmail.$dirty && regis.regisEmail.$error.required"><br>Required</span>
					<span ng-show="regis.regisEmail.$dirty && regis.regisEmail.$error.email"><br>Not an email</span>
				</td>
			
			</tr>
			<tr>
				<td>
					<label for="regisName">Name</label>
				</td>
				<td>
					<input id="regisName" type="text" name="regisName" ng-maxlength="10" ng-model="ctrl.regisName" required>
					<span ng-show="regis.regisName.$dirty && regis.regisName.$error.required"><br>Required</span>
					<span ng-show="regis.regisName.$dirty && regis.regisName.$error.maxlength"><br>Name is too long</span>
				</td>
			</tr>
			<tr>
				<td>
					<label for="regisBday">Birthday</label>
				</td>
				<td>
					<input id="regisBday" type="date" name="regisBday" ng-model="ctrl.regisBday" min="1935-01-01" max="2016-09-01" required>
					<span ng-show="regis.regisBday.$dirty && regis.regisBday.$error.required"><br>Required</span
				</td>
			</tr>
			<tr>
				<td>
					<label for="regisPwd">Password</label>
				</td>
				<td>
					<input id="regisPwd" type="password" name="regisPwd" ng-model="ctrl.regisPwd" required>
					<span ng-show="regis.regisPwd.$dirty && regis.regisPwd.$error.required"><br>Required</span>
				</td>
			</tr>
			<tr>
				<td>
					<label for="regisRePwd">Repeat Password</label>
				</td>
				<td>
					<input id="regisRePwd" type="password" name="regisRePwd" ng-model="ctrl.regisRePwd" required>
					<span ng-show="regis.regisRePwd.$dirty && regis.regisRePwd.$error.required"><br>Required</span>
					<span ng-show="regis.regisRePwd.$valid && ctrl.regisPwd!=ctrl.regisRePwd"><br>Passwords don't match</span>
				</td>
			</tr>
		</table>

		<div ng-show="ctrl.showRegisError">The email already exists. Log in instead.</div>
		<input class="loginBtn" type="submit" value="{{ctrl.register_btn}}" class="form-input bs-form__buttons tacked-input-box" ng-disabled="regis.$invalid || ctrl.regisPwd!=ctrl.regisRePwd">
	</form>
</div>
</div>