
<div class="thisweek-head">
This Week
</div>

<div>
	<div class="text-middle thisweek-title">Hello, {{ctrl.myData.userFullName}}!  You are at week: <span style="color:red ;font-size:50px">{{ctrl.getThisWeek}}</span></div>  	
  <p class="text-middle">Did you know: A 85 years of life consists of 4433 weeks</p>
  <div class="text-middle"></div>
</div>

<div class="todo-overview weekstodo">
  <div ng-repeat="(parentIndex,event) in ctrl.showIncomplete()">{{event.eventTitle}}
    <button ng-click="ctrl.addOpen(event)">Edit</button>
    <button  ng-click="ctrl.showKids(event,ctrl.showIncomplete())"  ng-hide="ctrl.activeParentIndex==={{parentIndex}}">Conclude 
    </button>
    <!-- <span>{{ctrl.activeParentIndex}}</span> -->
    <br>
    <span ng-show="ctrl.activeParentIndex==={{parentIndex}}" class="modal-body"> 
      <button ng-click="ctrl.showGrandKids(event,ctrl.showIncomplete())"
      ng-hide="ctrl.activeChileIndex==={{parentIndex}}">Finish</button>
      <button type="button" ng-click="ctrl.deleteEvent(event.id)"
      ng-hide="ctrl.activeChileIndex==={{parentIndex}}">Delete</button>
      <br>
      <span ng-show="ctrl.activeChileIndex==={{parentIndex}}">
        <input type="date">
        <input type="button" value="Done" style="float:right;color:black">
        <label>
          Set to specia
          <input type="checkbox" >
        </label>
        <input type="button" value="Hide" ng-click="ctrl.toggleleCon()" style="float:right; color:black">
      </span>  
    </span>
  </div>

  <button ng-click="ctrl.toggle()" ng-hide="ctrl.myVar">Add</button>

  <div ng-show="ctrl.myVar" class="modal-body">
    <div class="addstyle">
        <form class="col-lg-12" ng-submit="ctrl.addEvent()" id="form1">
            <div>
                <label>
                  Event Name:
                </label>
                <input ng-model="ctrl.newEventTitle" type="text" id="add-title" class="add-title form-control" placeholder="Enter your title ">
            </div>    
            <div>
              <label>
                Start Date: 
              </label>
              <input ng-model="ctrl.newEventStart" type="date" class="form-control" placeholder="Start Date">
            </div>

            <div>
              <label>
                Due Date
              </label>
              <input ng-model="ctrl.newExpectedEnd" type="date" class="form-control" placeholder="Due Date">
            </div>

            <div>
              <label>
                Select Skill
              </label>
              <select ng-model="ctrl.newEventSkill" ng-options="x as x.skillName for x in ctrl.mySkills">
              </select>
              <button type="button" value="+" ng-click="ctrl.toggleSkill()" >+</button>
              
              <div ng-show="ctrl.myVarSkill">
                <input type="text" class="form-control" placeholder="Enter your new skill" ng-model="ctrl.newSkillName" ><input type="button" ng-click="ctrl.addSkill()" value="+">
              </div>
            </div>  

            <label for="comment">Description:</label>
            <textarea ng-model="ctrl.newEventDes" class="form-control" rows="5" id="comment"></textarea>

            <button type="button" ng-click="ctrl.togglele()">Cancel</button>
            <button ng-click="ctrl.togglele()" type="submit" form="form1" >Add</button>
        </form> 
      </div>
    </div>
</div>

<div  class="todo-overview daliytodo">
  <p>{{ctrl.todoList[0]}}</p>
  <ul>
    <li ng-repeat="too in ctrl.todoList.slice(1,ctrl.todoList.length)">{{too}}<button class="glyphicon glyphicon-ok" 
    ng-click="ctrl.deleteTodo(too)"
    ></button> </li>
  </ul>
  <form class="search-form middle-all">
      <div class="form-group has-feedback" >
          <input type="text submit" class="form-control" ng-model=" ctrl.todo"   ng-click="ctrl.addTodo(ctrl.todo)"
            name="search" id="search" placeholder="Enter new task">
      <span type="submit" 
        class="form-control-feedback glyphicon glyphicon-plus"
          ></span> 
      </div>
    </form>
</div>   
<div class="spacer" style="clear: both;"></div> 


	  	