<div class="overview-title" >
	<h3>
		View Events  
	</h3>
</div>

<div class="management-container">
	<div>
		<form ng-submit="ctrl.getEventsFromWk(ctrl.fromWk, ctrl.toWk)">
			<label>Events from week</label>
			<input placeholder="1" ng-model="ctrl.fromWk" type="text" name="" required>

			<label>to</label>
			<input placeholder="Current Week: {{ctrl.getThisWeek}}" ng-model="ctrl.toWk" type="text" name="" required>

			<button class="create_event glyphicon glyphicon-search" ng-click="ctrl.showDates = true" type="submit"></button>
			<button class="create_event glyphicon glyphicon-list-alt" type="button" ng-click="ctrl.showAllEvents()"></button>
			<button class="create_event glyphicon glyphicon-pencil" type="button" ng-click="ctrl.addEventOpen()" ng-hide="ctrl.myAdd"></button>

		</form>
		<span ng-show="ctrl.showDates">
			Displaying events started between {{ctrl.displayStart|date}} and {{ctrl.displayEnd|date}}
		</span>

	</div>

	<div>
			<table class="table">
				<thead>
					<tr>
						<th>Event Name</th>
						<th>Start Date</th>
						<th>Due Date</th>
						<th>Status</th>
						<th>Skill</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="event in ctrl.displayedEvents">
						<td>{{event.eventTitle}}</td>
						<td>{{event.eventStart | date}}</td>
						<td>{{event.eventExpectedEnd | date}}</td>
						<td>{{event.eventStatus}}</td>
						<td>{{ctrl.getSkillName(event.eventHasSkills[0], ctrl.myData.userEmail)}}</td>
						<!-- <td><button  ng-click="ctrl.toggleEdit()">Edit</button></td> -->
					</tr>
				</tbody>
			</table>
	</div>

</div>
	