<div class="overview-title" >
	<h3>
		Hello {{ctrl.myData.userFullName}}, view Your Profile  
	</h3>
	<h4 >
		Membership Since: <span style="color:orange">{{ctrl.myData.createdAt | date}}</span>
	</h4>
</div>


  <div class="user-profile-container">
	<div class="proflieForm proflieForm1">
 		<form ng-submit="ctrl.editUser()" >
 		
		<table class=" profile-table">
			<label style="color:black">Personal Information</label>
			<hr>
			<tr>
				<td>
					<label>Email: </label>
				</td>
				<td>
					<input type="" name="" ng-attr-value="{{ctrl.myData.userEmail}}" disabled>
				</td>
			</tr>
			<tr>
				<td>
					<label>Name: </label>
				</td>
				<td>
					<input ng-model="ctrl.userFullName" type="" name="" ng-attr-value="{{ctrl.myData.userFullName}}">
				</td>
			</tr>

			<tr>
				<td>
					<label>Birthday: </label>
				</td>
				<td>
					<input type="" name="" ng-attr-value="{{ctrl.myData.userBirthday | date}}" disabled>
				</td>
			</tr>

<!-- 			<tr>
				<td><label>Member since: </label></td>
				<td>
					<input type="" name="" ng-attr-value="{{ctrl.myData.createdAt | date}}" disabled>
				</td>
			</tr> -->

<!-- 			<tr>
				<td>
					<button class="profileButton" type="submit">Update</button>
				</td>
			</tr> -->

		</table>
		<br>
		<button class="profileButton" type="submit">Update</button>
	</form>
	<br>
	</div>

	<div class="proflieForm proflieForm2">
	<form ng-submit="ctrl.changePassword()" >
		
		<table class="profile-table">
		<label style="color:black">Password</label>
		<hr>
			<tr>
				<td><label>New Password: </label></td>
				<td>
					<input ng-model="ctrl.newUserPswd" type="password" name="" value="">
				</td>
			</tr>

			<tr>
				<td>
					<label>Repeat new password: </label>
				</td>
				<td>
					<input ng-model="ctrl.newUserPswdRep" type="password" name="" value=""> <br>
				</td>
			</tr>
<!-- 			<tr>
				<td>
				<button class="profileButton" type="submit">Change Password</button>
					
				</td>
				<td>
					
					<button class="profileRest" type="reset">Reset</button>
				</td>
			
			</tr> -->
		</table>
		<br>
		<button class="profileRest" type="reset">Reset</button>
		<button class="profileButton" type="submit">Change Password</button>
	</form>
	</div>
</div>