<div style="padding:10px; margin-bottom:0px;padding-bottom:0px"> 
  <h3 class="modal-title">Edit Your Event: </h3>
  <hr style="margin-bottom:10px">
</div>


<div >
  <div class="addstyle">
    <form class="col-lg-12" ng-submit="ctrl.editEvent(ctrl.id)">
      <table>
        <td>
          <tr>
            <label>
                Event Title:
            </label>
          </tr>
          <tr>
            {{ctrl.editingEvent.eventTitle}}
          </tr>
          <tr >
            <button style="float:right" type="button" ng-click="ctrl.toggleEdit1()">Edit</button>
          </tr>
        </td>
        <div ng-show="ctrl.myEdit1">
          <input ng-model="ctrl.editEventTitle" type="text" id="add-title" class="add-title form-control" ng-value="ctrl.editingEvent.eventTitle">
        </div>
        <br>
        <br>
        <td>
          <tr>
            <label>
              Select Skill:
            </label>
          </tr>
          <tr>
            {{ctrl.getSkillName(ctrl.editingEvent.eventHasSkills)}}
          </tr>
          <tr>
            <button style="float:right" type="button" ng-click="ctrl.toggleEdit4()">Edit</button>
          </tr> 
        </td>
        <div ng-show="ctrl.myEdit4">
          <select ng-model="ctrl.editEventHasSkillId" ng-options="x as x.skillName for x in ctrl.mySkills" required>
          </select>
          <button type="button" value="+" ng-click="ctrl.toggleSkill()" >+</button>
          <div ng-show="ctrl.myVarSkill">
            <input type="text" class="form-control"  ng-model="ctrl.newSkillName"  ><input type="button" ng-click="ctrl.addSkill()" value="add">
          </div>
        </div>    
        <br>     
        <td>
          <tr>
            <label>
              Start Date: 
            </label>
          </tr>
          <tr>
            {{ctrl.editingEvent.eventStart|date}}
          </tr>
        </td>
        <div>
          <input ng-model="ctrl.editEventStart" type="date" class="form-control">
        </div>
        <td>
          <tr>
          <label>
            Due Date: 
          </label> 
          </tr>
          <tr>
           {{ctrl.editingEvent.eventExpectedEnd|date}}
          </tr>
        </td>
        <div>
          <input ng-model="ctrl.editEventExpected" type="date" class="form-control" >
        </div>
        <br>             
        <td>
          <tr>
            <label >
              Description: 
           </label>
          </tr>
          <div >
            <textarea ng-model="ctrl.editEventDes" type="text"  class="form-control" rows="5" id="comment"
            ng-init= "ctrl.editEventDes">  
            </textarea> 
          </div>  
        </td>              
        </table>
        <button style="float:left" type="button" ng-click="ctrl.deleteEvent(ctrl.editingEvent.id)">Delete</button>
        <div style="float:right">
          <button type="reset" ng-click="ctrl.cancel()">Cancel</button>
          <button type="submit" >Submit Edit</button>
        </div>
   </form> 
  </div>
</div>  
<div class="modal-footer" style="border-color:white">
</div>



