<nav class="main-nav">
	<div class="main-logo" ng-click="ctrl.goHome()">
		<span>Dotweek</span>
	</div>
	<ul>
		<li><a href="" ng-click="ctrl.login()">Login</a></li>
		<li><a href="" ng-click="ctrl.register()">Sign up</a></li>
		<li><a href="" ng-click="ctrl.about()">About</a></li>
	</ul>
</nav>

<div class="main-container" ng-class="{'left-closed': ctrl.hideleft}">

	<div ng-show="ctrl.hideleft" class="main-lefthidden"  ng-click="ctrl.resetClick()">
		<div class="main-leftarrow glyphicon glyphicon-menu-left"></div>
		<div class="main-lefttext" ng-bind="ctrl.lefttext"></div>	
	</div>

	<div class="inner-container" ng-show="!ctrl.hideleft">
		<h1 class="welcome-baner">Your Weekly Life Planner</h1>
		<p class="welcome-p">Enter your birthday</p>
		<input class="welcome-bd" placeholder="Date" type="date" name="bday" ng-model="ctrl.bday">
		<button class="welcome-submit" type="submit">See my life in weeks</button> 
	</div>
</div>

<div class="main-rightcontainer" ng-show="ctrl.hideleft">
	<div class="main-rightinner">
		<div ui-view></div>
	</div>
</div>
