.overview-title{
  font-size: 25px;
  font-family: fantasy;
  padding-top:30px;
  padding-bottom: 20px;
  padding-left: 30px; 
}
.overview-pic{
  width: 600px;
    height: 2000px;
}

.overview-pic img{
  display: block;
  width: 100%;
}

#div-svg {
  padding: 10px;
  margin:10px;

}
#dival{
  width: 590px;
  height:950px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

rect{
  width: 10px;
  height: 10px;
  fill:#f5ede5;
  background:rgba(255,255,255,0.05);  
}

rect:hover{
  fill:gray;
}

.rect_past{
  fill: blue;
}
.rect_now{
  fill: orange;
}

/*seperate for management */

.management-container{
  padding: 20px 40px;
  width: auto;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}



